header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #F9F0C2;
}

.logOutBtn {
  float: right;
}

.header__navigationContainer {
  display: flex;
  flex-direction: row;
}
