/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,500;1,700&display=swap'); */

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

.huzzah__container {
  display: flex;
}

body {
  background-color: #0C3A53!important;
}
