@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,500;1,700&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-weight: 900;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
}

h4 {

}

h5 {

}
h6 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

body {
  background-color: #FFFDFE;
}

.huzzah__container {
  display: flex;
}