.habits {
  border: 2px solid black;
  margin: 1em;
  flex-grow: 6;
}

.habit {
    display: flex;
    border-radius: 0.5em;
    background-color: #D9EAFF;
    margin: 1.5em;
    padding: 1.5em;
}

.habit__left {
  display: flex;
}

.habit__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.habits__addHabitBtn{
  float: right;
}

.habits__addHabitContainer {
  margin: 2em;
}

.habit__deleteHabitBtn{
  float: right;
}

.progress-bar {
  background-color: #349aac !important;
}

.habits__editHabitBtn {
  width: 20px !important;
  height: 20px !important;
}