.rewards {
  border: 2px solid black;
  margin: 1em;
  flex-grow: 1;
}

.reward {
  display: flex;
  border-radius: 0.5em;
  background-color: #D9EAFF;
  margin: 1.5em;
  padding: 1.5em;
}

.rewards__addRewardBtn{
  float: right;
}

.reward__deleteRewardBtn {
  float: right;
}