.rewards {
  border: 2px solid black;
  margin: 1em;
  flex-grow: 1;
}

.reward {
  display: flex;
}

.rewards__addRewardBtn{
  float: right;
}

.rewards__editHabitBtn {
  float: right;
}

.rewards__addRewardsContainer {
  margin-bottom: 2em;
}


.rewardScreen {
  text-align: center;
}

a {
  text-decoration: none;
  color: white !important;
}