.rewards {
  border: 2px solid black;
  margin: 1em;
  flex-grow: 1;
}

.reward {
  display: flex;
}

.rewards__addRewardBtn{
  float: right;
}

.rewards__editHabitBtn {
  float: right;
}

.rewards__addRewardsContainer {
  margin-bottom: 2em;
}

.rewards__sayHiToUser {
  margin-top: 1.5em;
  margin-bottom: 2em;
}