
.reward {
  display: flex;
  border-radius: 0.5em;
  background-color: #D9EAFF;
  margin: 1.5em;
  padding: 1.5em;
}

.rewards__addRewardContainer {
  margin: 3rem;
}

.reward__left {
  display: flex;
}

.reward__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bootstrap.rewards__addRewardBtn{
  float: right;
  width: 8rem;
  font-size: 2rem !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #0C3A53;
}



#bootstrap.form__rewardDiv {
  margin-bottom: 2rem;
}

.rewardScreen {
  margin-top: 5rem;
  text-align: center;
}

h4 {
  /* color: white; */
}

.rewardScreen__Row {
  margin-bottom: 1rem;
}