fieldset {
  min-width: 0;
  padding: 1rem 0;
  margin: 0;
  border: 0;
}

.form--login {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.form--login > fieldset > input[type="password"] {
  width: 25em;
}

.label--login {
  width: 8rem;
  display: inline-block;
}

.form-control {
  display: block;
  width: 94%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #0C3A53;
}

.form--login {
  background-position-x: right;
  /* background-image: url(logo.png); */
  z-index: 1;
  min-height: 25rem;
  min-width: 45rem;
  background-color: #F9F0C1;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  border-radius: 1rem;
  margin: 3rem;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #0C3A53;
}

.button--close {
  position: relative;
  bottom: -2rem;
}

.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  color: #0C3A53;
}

#tagline {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 4rem;
  font-size: 2rem !important;
  color: #0C3A53;
}

.form__registerTagline {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #0C3A53;
  margin-bottom: 4rem;
}

.login__signInBtn {
  margin-top: 1rem;
  float: right;
}

.form-control {
  margin-bottom: 1.5rem;
}